
.pdf{
    font-family: sans-serif;
    text-align: center;
}
.pdfbutton {
    margin-right: 10px;
    background: #3f51b5;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #ccc;
  }
  .issue-image{
    width:100%;
  }
  /* For pdf */
  .react-pdf__Page {
    margin-top: 10px;
  }
  .react-pdf__Page__textContent {
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 5px 1px #ccc;
    border-radius: 5px;
  }
  
  .react-pdf__Page__annotations.annotationLayer {
    padding: 20px;
  }
  
  .react-pdf__Page__canvas {
    margin: 0 auto;
  }
  
  /* For all pages */
  .all-page-container {
    height: 100%;
    max-height: 500px;
    overflow: auto;
  }
  /* .laurel-issue-details-img{
    padding-right: 32px;
}
.laurel-issue-details-section{
  padding: 24px 160px;
}
.laurel-issue-details-content{
  width: 80%;
} */

.float-container {
  padding: 20px;
}

.float-child {
  width: 20%;
  float: left;
  padding: 10px;
}  
.float-pdf {
  width: 80%;
  float: left;
  padding: 10px;
}  
.order-now {
  background-color: #214dc5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* .laurel-issue-details-img{
 width: 60%;
} */